body{
	background-image: url(3.jpg);
	margin:0px;
}
h2{
	text-align: center;
	font-family:fantasy;
	font-size:200%;
	color:darkred;
	background-color:black;
	
}
img{
	width:400px;
	height:400px;
	margin:10px;
	transition: all 1s;
	border-radius: 50%;
}
img:hover{
	transform:scale(1.5);
}
.Images{
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
	
}
#text{
	font-size: 300%;
	color:red;
	text-align:center;
	font-family:Arial;
}
	
